.custom-padding {
    padding-left: 15px;
    padding-right: 15px;
}

.player-headshot-container {
    max-height: 25px;
    max-width: 25px;
    width: 32%;
    display: inline-block;
    margin-right: 30px;
}


img[src*="/nba"] {
    width: 150px;
    height: 100px;
    display: block;
    /* Make the image a block element */
    margin: 0 auto;
    /* Center the image horizontally */
}

body {
    font-size: 15px;
    color: rgb(230, 224, 224);
    font-family: Arial, Helvetica, sans-serif;
}

/* THIS IS BREAKING CONDITIONAL FORMATTING SCHEDULE */
/* DASH TABLE CELLS */
.dash-spreadsheet td {
    /* background-color: #383b3d !important; */
    border-color: #383b3d00 !important;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center !important;
}


/* DASH TABLE COLUMNS */
.dash-spreadsheet th {
    background-color: #222222 !important;
    text-align: center !important;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.dash-spreadsheet_v2 th {
    background-color: #222222 !important;
    text-align: center !important;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* dash table border */
.dash-spreadsheet {
    border: 2px solid rgb(0, 0, 0) !important;
}

.kpi-card {
    width: 25%;
    border: 2px solid #000000;
    padding: 10px;
    margin: 5px;
    text-align: center;
    background-color: #15171a;
}

h1,
h3 {
    text-align: center;
}

.Select-control {
    background-color: rgb(25, 25, 25) !important;
    color: white;
}

.Select-menu-outer {
    background-color: rgb(25, 25, 25);
    color: white;
}

.Select-value-label {
    color: white !important;
}

/* player images  */
img[src*="/nba"] {
    width: 150px;
    height: 100px;
    display: block;
    margin: 0 auto;

    /* center that mfer */
    transform: translateY(4px);
}

/* team logos */
.team-data-table img {
    max-width: 75px;
    max-height: 75px;
    display: block;
    margin: 0 auto;

    /* center that mfer */
    transform: translateY(8px);
}
